{{ define "title" }}{{ .Params.Top }}{{ end }}

{{ define "main" }}
{{ $lenguaje := substr $.Page.RelPermalink 1 2}}
<div class="kawaii-list-header">
    <h1 class="kawaii-list-title" style="font-style: italic;">
        {{ $title_parts := split .Title " "}}
        {{ range $title_parts}}
            {{$first := substr . 0 1}}
            {{$rest := substr . 1}}
            <span style="color: #f97316;">{{$first}}</span>{{$rest}}
        {{end}}
    </h1>
    {{ $about_sitio := printf "%s/%s" $lenguaje "about.md"}}
    {{ with .Site.GetPage "section" $about_sitio}}
        {{ if .Content }}
        <div class="kawaii-list-description">
            {{ truncate 200 .Content }}
        </div>
        <a href="{{printf `/%s/%s` $lenguaje `about`}}">
            {{ if eq $lenguaje "es"}}
                Leer Más
            {{ else }}
                Read More
            {{ end }}
        </a>
        {{ end }}
    {{ end }}
</div>


<div class="kawaii-posts-grid">
    {{ $proj_sitio := printf "%s/%s" $lenguaje "projects"}}
    {{ with .Site.GetPage "section" $proj_sitio}}
        {{ range .Pages }}
        <article class="kawaii-post-card" data-url="{{ .Permalink }}"> 
            <a class="cards" href="{{ .Permalink }}" >
                <div class="kawaii-card-content">
                    {{ if .Params.featured_image }}
                    <div class="kawaii-card-image" style="cursor:pointer;">
                        <img src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}" loading="lazy">
                    </div>
                    {{ end }}
                    
                    <div class="kawaii-card-text">
                        <h2 class="kawaii-card-title">
                            <a href="{{ .Permalink }}" style="font-weight: bold;">{{ .Title }}</a>
                        </h2>
                        
                        {{ if .Params.description }}
                        <p class="kawaii-card-description">{{ .Params.description }}</p>
                        {{ else }}
                        <p class="kawaii-card-description">{{ .Summary }}</p>
                        {{ end }}
                        
                        <div class="kawaii-card-meta">
                            {{/*  <time class="kawaii-card-date" datetime="{{ .Date.Format `2006-01-02` }}">
                                {{ .Date.Format "Jan 2, 2006" }}
                            </time>  */}}
                            
                            {{ if .Params.tags }}
                            <div class="kawaii-card-tags">
                                {{ range .Params.tags }}
                                <span class="kawaii-tag kawaii-tag-small">#{{ . }}</span>
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </a>
        </article>
        {{ end }} 
    {{end}}
</div>

{{ end }}